.pokedex-image {
  border-radius: 25% 10%;
}

@media (min-width: 768px) {
  .site-moto {
    max-width: 50%;
  }
}

@media (max-width: 850px) {
  .week-Pokemon-tab {
    flex-direction: column;
  }
}
